/* Base Styles CSS Start */

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: grifter;
  src: url(../font/grifterbold.otf);
}

@font-face {
  font-family: Raph Lanok Future;
  src: url(../font/RaphLanokFuture.otf);
}

*,
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: grifter;
}

p,
a,
li {
  font-family: "Plus Jakarta Sans", sans-serif;
}

ol,
ul {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.section-spacing {
  padding: 100px 0;
}

.section-top {
  text-align: center;
  padding-bottom: 40px;
}

h2.section-title {
  font-size: 56px;
  color: #000000;
}

p.section-desc {
  font-size: 22px;
  color: #000000;
  padding-top: 5px;
}

.badge {
  font-family: Raph Lanok Future;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 0.055em;
  color: #10ab8d;
  transform: rotate(-31.55deg);
}

/* Button Style */

.primary-btn a {
  display: block;
  width: 250px;
  position: relative;
  background: #000000;
  color: #ffffff;
  font-family: grifter;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 15px 35px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.primary-btn a:hover {
  color: #10ab8d;
}

.primary-btn a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #c9c9c9;
  left: 7px;
  top: 7px;
  border-radius: 8px;
  z-index: -1;
}

/* Base Styles CSS End */

/* Header Part CSS Start */

/* Navigation Section CSS Start */

nav {
  position: fixed;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 47px rgba(60, 60, 60, 0.12);
  padding: 12px 0;
  z-index: 999;
}

.nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}

.logo {
  max-width: 200px;
  width: 100%;
}

.logo a {
  font-family: "ABeeZee", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
  color: #000000;
}

.logo img {
  width: 55px;
  height: 55px;
}

.menu ul {
  display: flex;
  align-items: center;
}

.menu ul li {
  margin: 0 15px;
  list-style: none;
}

.menu ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  transition: all 0.3s ease-in-out;
}

.menu ul li a:hover,
a.nav-btn:hover {
  color: #10ab8d !important;
}

.menu ul li a.active {
  font-weight: 700;
  color: #10ab8d;
}

a.nav-btn {
  background: #000000;
  color: #ffffff !important;
  padding: 9px 22px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.nav-toggler {
  outline: none;
  border: none;
  cursor: pointer;
  display: none;
}

.nav-toggler span {
  position: relative;
  width: 20px;
  height: 2px;
  background: #000000;
  display: block;
  margin: auto;
  transition: all 0.3s ease;
}

.nav-toggler.active span {
  background: #ffffff;
}

.nav-toggler span::before,
.nav-toggler span::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000000;
  transition: all 0.3s ease;
}

.nav-toggler span::before {
  transform: translateY(-6px);
}

.nav-toggler span::after {
  transform: translateY(6px);
}

.nav-toggler.active span::before {
  transform: rotate(45deg);
}

.nav-toggler.active span::after {
  transform: rotate(135deg);
}

@media (max-width: 992px) {
  .nav-toggler {
    display: block;
  }
  .nav-wrapper {
    justify-content: space-between;
    padding: 0;
  }
  .menu {
    max-width: 100%;
    width: 100%;
    margin-left: 0;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: all 0.5s ease;
  }
  .menu.active {
    visibility: visible;
  }
  .menu ul {
    display: block;
    margin-top: 20px;
    padding-left: 0 !important;
    border-top: 1px solid #dddddd;
  }
  .menu ul li {
    margin-left: 0;
    padding: 15px 0;
  }
}

/* Navigation Section CSS Start */

/* Hero Section HTML Start */

section#Hero {
  padding: 200px 0 60px;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 70px;
  color: #000000;
}
.hero-content p {
  font-size: 24px;
  font-weight: 500;
  color: #383838;
  padding-top: 5px;
}

.hero-btn {
  margin-top: 55px;
  margin-bottom: 20px;
}

.hero-btn a {
  padding: 18px 55px;
}

.hero-content span {
  font-size: 12px;
  font-weight: 500;
  color: #6d6d6d;
}

/* Hero Section HTML End */

/* Company Section CSS Start */

.company-logo-wrapper img {
  width: 160px;
}

/* Company Section CSS End */

/* Header Part CSS End */

/* Hire Me Section HTML Start */

.hire-wrapper {
  background: #dae4ec;
}

.hire-card img {
  max-width: 40%;
  width: 100%;
}

.hire-card h5 {
  font-size: 25px;
}

.hire-card p {
  font-size: 20px;
  padding-top: 10px;
  margin: 0;
}

/* Hire Me Section HTML End */

/* Benefits Section HTML Start */

.benefit-badge {
  position: absolute;
  top: -30px;
  left: 10%;
}

.benefit-card img {
  max-width: 40%;
  width: 100%;
}

.benefit-card h5 {
  font-size: 25px;
}

.benefit-card p {
  font-size: 20px;
  padding-top: 10px;
  margin: 0;
}

.label {
  position: absolute;
  top: 128px;
  right: 37px;
  background: #10ab8d;
  padding: 3px 10px;
  border-radius: 7px;
}

.label p {
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  padding: 0;
}

/* Benefits Section HTML End */

/* Staging Section CSS Start */

.staging-wrapper,
.manage-wrapper {
  background: #dae4ec;
}

.staging-badge,
.manage-badge {
  position: absolute;
  top: -30px;
  right: 10%;
}

.staging-badge .badge,
.manage-badge .badge {
  transform: rotate(31deg);
}

.staging-content h5,
.manage-content h5 {
  font-size: 25px;
  padding: 5px 0;
}

.staging-content p,
.manage-content p {
  font-size: 20px;
}

/* Staging Section CSS End */

/* Works Section CSS Start */

.work-badge {
  position: absolute;
  top: -30px;
  left: 10%;
}

.work-card img {
  max-width: 50%;
  width: 100%;
}

.work-card h5 {
  font-size: 25px;
}

.work-card p {
  font-size: 20px;
  padding-top: 10px;
  margin: 0;
}

.work-main {
  margin-top: 60px;
}

.work-main::before {
  position: absolute;
  content: "";
  width: 90%;
  text-align: center;
  height: 3px;
  background: #10ab8d;
  left: 35px;
  top: -55px;
}

.work-card span {
  position: absolute;
  display: block;
  font-family: "grifter";
  font-size: 26px;
  color: #ffffff;
  background: #10ab8d;
  top: -78px;
  width: 45px;
  height: 45px;
  padding: 4px 0;
  text-align: center;
  border-radius: 50px;
}

/* Works Section CSS End */

/* Services Section CSS Start */

.services-wrapper .section-top {
  padding-bottom: 10px;
}

.servics-main {
  border: 5px solid #dae3ed;
  padding: 30px 20px 60px;
}

.services-badge {
  position: absolute;
  top: -30px;
  left: 10%;
}

.services-card {
  padding: 0 40px;
  text-align: center;
}

.portfolio-btn a {
  margin: auto;
}

.services-card-img {
  padding: 20px;
}

.services-card-img img {
  border-radius: 15px;
}

.services-card h4 {
  font-size: 25px;
  padding-bottom: 5px;
}

.services-card p {
  font-size: 20px;
  line-height: 150.8%;
}

/* Services Section CSS End */

/* Subscription Section CSS Start */

.subscription-wrapper {
  background: #dae4ec;
}

.subscription-badge {
  position: absolute;
  top: -30px;
  right: 10%;
}

.subscription-badge .badge {
  transform: rotate(31deg);
}

.subscription-plan-wrapper .col-md-6 {
  background: #ffffff;
}

.subscription-plan {
  background: #ffffff;
  border-right: 2px solid #dae4ec;
}

.pricing-label {
  position: absolute;
  top: 32px;
  right: -65px;
  background: #10ab8d;
  padding: 7px 64px;
  border-radius: 7px;
  transform: rotate(40deg);
}

.pricing-label p {
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  padding: 0;
  margin-top: -2px;
  margin-bottom: 0;
}

.subcription-top {
  padding: 40px 30px;
  border-bottom: 2px solid #dae4ec;
}

.subscription-time {
  height: 100px;
}

.subcription-top h4 {
  font-size: 25px;
  margin: 0;
}

.subcription-top p {
  font-size: 20px;
}

.pricing h2 {
  font-size: 32px;
  margin: 0;
}

.pricing p {
  font-size: 18px;
  color: #5c5c5c;
}

.sub-btn,
.portfolio-btn {
  display: block;
  width: 250px;
  position: relative;
  background: #000000;
  margin: 20px auto 40px;
  border-radius: 8px;
  z-index: 10;
}

.sub-btn::after,
.portfolio-btn::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #c9c9c9;
  left: 7px;
  top: 7px;
  border-radius: 8px;
  z-index: -1;
}

.sub-btn a {
  color: #ffffff;
  font-family: grifter;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.faq-btn a {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  text-align: center;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

.faq-btn a:hover {
  color: #10ab8d;
}

.subcription-bottom {
  padding: 40px 30px;
}

.subcription-bottom h5 {
  font-size: 20px;
  padding-bottom: 15px;
}

.subcription-bottom ul li {
  font-size: 18px;
  color: #000000;
  padding-bottom: 5px;
}

/* Subscription Section CSS End */

/* FAQ Section CSS Start */

.faq-content {
  padding: 0 80px;
}

.faq-badge {
  position: absolute;
  top: -30px;
  left: 10%;
}

.accordion-item {
  border-left: none;
  border-right: none;
  border-color: #000000;
}

.accordion-body {
  padding: 10px 0;
}

.accordion-item:first-child {
  border-top: none;
}

.accordion-button:focus {
  border: none;
  box-shadow: none;
  font-size: 20px;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 20px 0;
}

.accordion-button:not(.collapsed),
.accordion-button {
  color: #000000;
  background: transparent;
  box-shadow: none;
  font-size: 20px;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 20px 0;
}

.view-faq-btn {
  text-align: center;
  margin: 40px 0;
}

/* FAQ Section CSS End */

/* Footer Section CSS Start */

.footer-wrapper {
  background: #000000;
  padding: 60px 0;
}

.footer-company {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer-company img {
  max-width: 18%;
  padding: 0 15px;
  margin-bottom: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.footer-menu ul {
  padding: 0;
}

.footer-menu ul li {
  list-style: none;
  padding: 5px 0;
}

.footer-menu ul li a {
  color: #ffffff;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.footer-menu ul li a:hover {
  color: #10ab8d;
}

.footer-copy p {
  font-size: 18px;
  color: #ffffff;
}

.footer-copy span {
  font-size: 18px;
  color: #909090;
}

.footer-copy a {
  font-family: "Plus Jakarta Sans";
  font-size: 22px;
  font-weight: 700;
  line-height: 152%;
  text-decoration-line: underline;
  color: #10ab8d;
}

/* Footer Section CSS End */

/* Responsive CSS Start */

@media (min-width: 1400px) and (max-width: 1920px) {
  .hire-card,
  .work-card,
  .benefit-card {
    padding: 0 40px;
  }
  .hero-img {
    margin-top: 25px !important;
  }

  .staging-badge,
  .manage-badge,
  .subscription-badge {
    right: 3%;
  }
  .benefit-badge,
  .work-badge,
  .services-badge,
  .faq-badge {
    left: 3%;
  }

  .work-main::before {
    left: 60px;
  }
  .staging-img {
    text-align: center;
  }
  .staging-img img {
    max-width: 83%;
    margin: auto;
  }
  .subscription-plan-wrapper {
    width: 1100px;
    margin: auto;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  h2.section-title {
    font-size: 48px;
  }
  .hero-content h1 {
    font-size: 42px;
    line-height: 60px;
  }
  .hero-img {
    margin-left: -30px;
  }
  .company-logo-wrapper img {
    width: 150px;
  }

  .hire-card,
  .work-card,
  .benefit-card {
    padding: 0 40px;
  }

  .work-main::before {
    left: 60px;
  }

  .hire-card h5,
  .benefit-card h5,
  .work-card h5,
  .staging-content h5,
  .manage-content h5,
  .services-card h4,
  .subcription-top h4 {
    font-size: 22px;
  }
  .staging-badge,
  .manage-badge,
  .subscription-badge {
    right: 5%;
  }
  .benefit-badge,
  .work-badge,
  .services-badge,
  .faq-badge {
    left: 5%;
  }
  .footer-company img {
    max-width: 17%;
  }
  .portfolio-hero-content p {
    font-size: 22px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  h2.section-title {
    font-size: 42px;
  }

  .hero-content {
    padding-top: 100px;
  }
  .hero-content h1 {
    font-size: 36px;
    line-height: 50px;
  }
  .hero-img {
    margin-left: -30px;
  }

  .company-logo-wrapper img {
    width: 120px;
  }

  .hire-card h5,
  .benefit-card h5,
  .work-card h5,
  .staging-content h5,
  .manage-content h5,
  .services-card h4,
  .subcription-top h4 {
    font-size: 20px;
  }

  .services-card {
    padding: 0 30px;
  }

  .services-card-img {
    padding: 10px;
  }
  .services-card p {
    font-size: 18px;
  }
  .pricing h2 {
    font-size: 28px;
  }

  .footer-company img {
    max-width: 17%;
  }

  p {
    font-size: 18px !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h2.section-title {
    font-size: 36px;
  }

  .badge {
    font-size: 28px;
  }

  .hero-content {
    padding-top: 40px;
  }
  .hero-content h1 {
    font-size: 28px;
    line-height: 40px;
  }

  .hero-btn {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .company-logo-wrapper img {
    width: 99px;
  }

  .hire-card h5,
  .benefit-card h5,
  .work-card h5,
  .staging-content h5,
  .manage-content h5,
  .services-card h4,
  .subcription-top h4 {
    font-size: 20px;
  }

  .servics-main {
    padding: 30px 0 60px;
  }

  .services-card {
    padding: 0 20px;
  }
  .services-card p {
    font-size: 16px;
  }

  .pricing h2 {
    font-size: 25px;
  }

  .faq-content {
    padding: 0px;
  }

  .footer-company img {
    max-width: 17%;
  }

  p {
    font-size: 18px !important;
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  h2.section-title {
    font-size: 32px;
  }

  p.section-desc br {
    display: none;
  }

  .badge {
    font-size: 25px;
  }

  .benefit-badge,
  .work-badge,
  .services-badge,
  .faq-badge {
    top: -18px;
    left: 0;
  }

  section#Hero {
    padding: 100px 0 60px;
  }

  .company-logo-wrapper img {
    width: 100px;
  }

  .work-main {
    margin-top: -40px;
  }

  .work-main::before {
    width: 3px;
    height: 90%;
    left: 25px;
    top: 50px;
  }

  .work-card span {
    position: relative;
    font-size: 22px;
    width: 40px;
    height: 40px;
    top: 32px;
    left: -55px;
  }

  .work-card {
    padding-left: 50px;
  }

  .staging-badge,
  .manage-badge,
  .subscription-badge {
    position: absolute;
    top: -20px;
    right: 0;
  }

  .hero-content {
    text-align: center;
    padding-top: 40px;
  }
  .hero-content h1 {
    font-size: 28px;
    line-height: 40px;
  }

  .primary-btn a {
    width: 220px;
    margin: auto;
  }

  .hero-btn {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .hero-btn a {
    padding: 15px 10px !important;
  }

  .hire-card,
  .benefit-card {
    padding: 0 25px;
  }

  .hire-card h5,
  .benefit-card h5,
  .work-card h5,
  .staging-content h5,
  .manage-content h5,
  .services-card h4,
  .subcription-top h4 {
    font-size: 20px;
  }

  .label {
    top: 125px;
    right: 35px;
  }

  .staging-content {
    text-align: center;
  }

  .manage-content {
    text-align: center;
  }

  .servics-main {
    padding: 30px 10px 60px;
  }

  .services-card {
    padding: 0 20px;
  }
  .services-card p {
    font-size: 16px;
  }

  .pricing h2 {
    font-size: 25px;
  }

  .faq-content {
    padding: 0px;
  }

  .footer-company img {
    max-width: 30%;
  }

  .footer-content {
    flex-direction: column;
  }

  p {
    font-size: 18px !important;
  }
}

/* Responsive CSS End */

/* =============***============
=============***============

Portfolio Page CSS

=============***============
=============***============ */

/* Portfolio Hero Section CSS Start */

.portfolio-hero-wrapper {
  padding: 150px 0 80px;
}

.portfolio-hero-content {
  text-align: center;
}

.portfolio-hero-content h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 136%;
  text-align: center;
  color: #000000;
}

.portfolio-hero-content p {
  font-size: 25px;
  font-weight: 500;
  color: #383838;
  padding-top: 5px;
}

/* Main Portfolio Section CSS Start */

.main-portfolio-wrapper {
  padding: 100px 0;
}

.coloring-bg {
  background: #dae4ec;
}

.portfolio-main-top {
  text-align: center;
  padding-bottom: 50px;
}

.portfolio-main-top h2 {
  font-size: 36px;
  color: #000000;
}

.portfolio-main-top p {
  font-size: 20px;
  color: #000000;
}

.portfolio-before,
.portfolio-after {
  padding: 0 10px;
}

.portfolio-before img,
.portfolio-after img {
  border-radius: 10px;
}

.before-badge {
  position: absolute;
  top: 25%;
  left: 12%;
}

.before-badge .badge,
.after-badge .badge {
  font-family: Raph Lanok Future;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 0.055em;
  color: #10ab8d;
  transform: rotate(-31.55deg);
}

.after-badge {
  position: absolute;
  top: 26%;
  right: 12%;
}

.after-badge .badge {
  transform: rotate(31.55deg);
}

/* Main Portfolio Section CSS End */

/* Portfolio Trial CSS Start */

.portfolio-trial-content {
  text-align: center;
  padding: 50px 0;
}

.portfolio-trial-content h2 {
  font-size: 36px;
  color: #000000;
}

.portfolio-trial-content p {
  font-size: 20px;
  color: #000000;
}

/* Portfolio Trial CSS End */

/* Portfolio Page Responsive CSS */

@media (min-width: 1400px) and (max-width: 1919px) {
  .before-badge {
    left: 2%;
    top: 26%;
  }
  .after-badge {
    right: 2%;
    top: 25%;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .portfolio-hero-content h1 {
    font-size: 60px;
  }
  .before-badge {
    top: 29%;
    left: 2%;
  }
  .after-badge {
    top: 29%;
    right: 2%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .portfolio-hero-content h1 {
    font-size: 55px;
  }
  .before-badge .badge,
  .after-badge .badge {
    font-size: 28px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .portfolio-hero-content h1 {
    font-size: 50px;
  }
  .before-badge .badge,
  .after-badge .badge {
    font-size: 25px;
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  .portfolio-hero-content h1 {
    font-size: 50px;
  }
  .portfolio-main-top h2,
  .portfolio-trial-content h2 {
    font-size: 30px;
  }
  .before-badge {
    top: 25%;
    left: -5%;
  }
  .after-badge {
    top: 60%;
    right: -5%;
  }
  .before-badge .badge,
  .after-badge .badge {
    font-size: 25px;
  }

  .portfolio-after {
    padding-top: 50px;
  }
}

/* ============***===========
============***===========
Contact Page CSS
============***===========
============***=========== */

.contact-wrapper {
  padding: 150px 0 200px;
}

.contact-wrapper::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 300px;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(218, 228, 236, 0) 0%,
    #dae4ec 76.35%
  );
  z-index: -1;
}

.contact-top h2 {
  font-size: 70px;
  font-weight: 700;
  line-height: 136%;
  text-align: center;
  color: #000000;
}

.contact-top p {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #383838;
  padding-top: 5px;
}

.contact-form {
  max-width: 650px;
  margin: auto;
}

.form-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  padding-top: 20px;
}

.form-group label,
.textarea label {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  padding-bottom: 8px;
}

.form-group input,
.textarea textarea {
  width: 100%;
  outline: none;
  border: 3px solid #000000;
  border-radius: 6px;
  padding: 13px 25px;
}

.contact-btn a {
  width: 220px !important;
  margin: auto;
}

.contact-form ::placeholder {
  color: #8e8e8e;
}

/* Contact Page Responsive CSS */

@media (min-width: 1200px) and (max-width: 1400px) {
  .contact-top h2 {
    font-size: 60px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .contact-top h2 {
    font-size: 55px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-top h2 {
    font-size: 50px;
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  .contact-top h2 {
    font-size: 50px;
  }

  .form-top {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }
}

/* ============***===========
============***===========
Free Trial Page CSS
============***===========
============***=========== */

.trial-wrapper {
  padding: 150px 0 200px;
}

.trial-wrapper::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 300px;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(218, 228, 236, 0) 0%,
    #dae4ec 76.35%
  );
  z-index: -1;
}

.trial-top h2 {
  font-size: 70px;
  font-weight: 700;
  line-height: 136%;
  text-align: center;
  color: #000000;
}

.trial-top p {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #383838;
  padding-top: 5px;
}

.trial-form {
  max-width: 800px;
  margin: auto;
}

.form-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  padding-top: 50px;
}

.form-group label,
.textarea label {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  padding-bottom: 8px;
}

.form-group input,
.form-group select,
.textarea textarea {
  width: 100%;
  outline: none;
  border: 3px solid #000000;
  border-radius: 6px;
  padding: 13px 25px;
}

.form-group select {
  color: #8e8e8e;
}

.form-group select option {
  font-size: 18px;
}

.form-group a {
  font-size: 18px;
  font-weight: 600;
  text-decoration-line: underline;
  color: #10ab8d;
  margin: 0;
}

.contact-btn a {
  width: 220px !important;
  padding: 15px 0 !important;
  margin: auto;
}

.contact-form ::placeholder {
  color: #8e8e8e;
}

.file-upload {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px dashed #000000;
  border-radius: 6px;
}

input.file {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

#toolTip {
  position: relative;
}

#toolTip img {
  cursor: pointer;
}

#tooltipText {
  position: absolute;
  top: -135px;
  left: -56px;
  width: 415px;
  font-size: 17px;
  background: #dae4ec;
  padding: 15px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#tooltipText::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 12%;
  transform: translate(-20%);
  border-bottom: 22px solid #dae4ec;
  border-right: 18px solid transparent;
  border-left: 18px solid transparent;
  transform: rotate(180deg);
}

#toolTip:hover #tooltipText {
  visibility: visible;
  opacity: 1;
}

/* Contact Page Responsive CSS */

@media (min-width: 1200px) and (max-width: 1400px) {
  .trial-top h2 {
    font-size: 60px;
  }

  #tooltipText {
    top: -130px;
    left: -119px;
    width: 415px;
  }

  #tooltipText::before {
    top: 100%;
    left: 27%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .trial-top h2 {
    font-size: 55px;
  }

  #tooltipText {
    top: -155px;
    left: -260px;
    width: 365px;
  }

  #tooltipText::before {
    top: 100%;
    left: 70%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .trial-top h2 {
    font-size: 50px;
  }

  #tooltipText {
    top: -155px;
    left: -260px;
    width: 365px;
  }

  #tooltipText::before {
    top: 100%;
    left: 70%;
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  .trial-top h2 {
    font-size: 50px;
  }

  .form-top {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }

  #tooltipText {
    top: -157px;
    left: -300px;
    width: 335px;
  }

  #tooltipText::before {
    top: 100%;
    left: 89%;
  }
}
